{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="Container" >

        {% for message in app.flashes('success') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}

        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/frontflip-1.jpg') }}" class="carouselimg" alt="First">
                    
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/nose-grab.jpg') }}" class="carouselimg" alt="Secound">
                    
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/stalefish-1.jpg') }}" class="carouselimg" alt="Third">
                    
                </div>
            <a href="#loadMoreTricks"><i class="fas fa-chevron-down fa-4x chevron-down"></i></a>
            </div>
        
        </div>
         
        
    </div>
    <section class="tricks" >
            {# <div class="scroll-container">
                <a href="/#list" class="text-decoration-none arrow-color">
                    <i class="fa fa-arrow-circle-o-down cursor-pointer hover-arrow fa-2x"></i>
                </a>
            </div> #}

        {% for Trick in Tricks | slice(0,8)  %}
        <div class="card border-secondary mb-2 m-2" style="width: 16rem;">
            <div class="card-header" >
                <a href="{{ path('tricks_show',{'id': Trick.id}) }}">
                    <img src="{{ asset('/images/'~Trick.FituredImg) }}" class="img-thumbnail" alt="image Auberge la Cannebière">
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-title">
                <p class="border-top"></p>
                    <span class="mx-2">{{ Trick.title }}</span>
                    {% if app.user %}
                        <div class="float-right">
                            <a href="{{ path('tricks_edit', {'id': Trick.id }) }}#tr"><i class="fas fa-pencil-alt"></i></a>
                            <a href="#" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer le trick : {{ Trick.title }} ?`)"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    {% endif %}
                </h6>
            </div>
        </div>
        {% endfor %}

    </section>
        <div class="text-center m-2">
            <button id="loadMoreTricks" class="btn btn-success px-4">Load more</button>
            <a href="#begin"><i class="fas fa-chevron-up fa-4x"></i></a>
        </div>    
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        click = 0;
        
        function loadMoreTricks(event) {
            event.preventDefault();
            click++;
            var start = 8 * click;
            const url = "{{ path('loadMoreTricks') }}" + start;
            axios.get(url).then(function(response) {
                $(".tricks").append(response.data);
            }).catch(function (error) {
                if (response.status === 403) {
                    window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
                }
                else if (response.status === 404) {
                    window.alert("La page appelé n'existe pas");
                }
                else {
                    window.alert("Une erreur est survenue !");
                }
            });
        }
        document.getElementById("loadMoreTricks").addEventListener("click", loadMoreTricks);
    </script>
{% endblock %}
