{% extends 'base.html.twig' %}

{% block title %}Dashbord!{% endblock %}

{% block body %}
    <div class="mb-3">
        Bonjour {{ app.user.nickname }}
    </div>
    <div class='container'>
        <p class='text-center'>

            <button class="btn btn-warning m-1" type="button" data-bs-toggle="collapse" data-bs-target="#profil" aria-expanded="false" aria-controls="profil">
                My profile
            </button>
            <button class="btn btn-warning m-1" type="button" data-bs-toggle="collapse" data-bs-target="#tricks" aria-expanded="false" aria-controls="tricks">
                Tricks
            </button>

            {% if is_granted('ROLE_ADMIN') %}                
            <button class="btn btn-warning m-1" role="button" data-bs-toggle="collapse" href="#categories" aria-expanded="false" aria-controls="categories">
                Categories
            </button>
            {% endif %}

        </p>
        {# Profile Collapse #}
        <div class="collapse {{ (onglet)=='profil' ? 'show' : '' }} col-6 mx-auto" id="profil">
            <div class="card card-body">
                <section >
                    <article>
                                <h4><span><small>Nom : </small>{{ app.user.lastname }}</h4>
                                <p>Pseudo : {{ app.user.nickname }}</p>
                                <p>Mail : {{ app.user.email }}</p>
                                {# <a href="#" class="btn btn-success">Modifiers les infos</a> #}
                    </article>
                </section>
            </div>
        </div>
        {# Tricks Collapse #}
        <div class="collapse {{ (onglet)=='tricks' ? 'show' : '' }} col-9 mx-auto" id="tricks">
            <div class="card card-body p-2">
                {{ form_start(formTricks, {attr: {novalidate: 'novalidate'}}) }}
                    
                    {{ form_row(formTricks.categories, {label: 'Catégories : '}) }}
                    <span id="tr"></span>{{ form_row(formTricks.title, {label: 'Titre :', attr: {'placeholder': 'Titre ...'} }) }}
                    {{ form_row(formTricks.author, {label: 'Auteur :', attr: {value: app.user.nickname } }) }}
                    {{ form_row(formTricks.content, {label: 'Déscription :', attr: {'placeholder': 'Déscription ...'} }) }}
                    {% if (formTricks.fitured_img.vars.data) %}
                        Old Image : {{ formTricks.fitured_img.vars.data }}
                        {{ form_row(formTricks.fitured_img, {label: 'Image mise en avant: ', attr: {'name' : 'fitured_img'} } ) }}
                    {% else %}
                        {{ form_row(formTricks.fitured_img, {label: 'Image mise en avant: ', attr: {'name' : 'fitured_img'} }) }}
                    {% endif %}
                    
                    
                    <button type="submit" class="btn btn-success">Valider</button><a class="btn btn-danger mx-2" href="{{ path('Admin') }}">Annulez</a>
                {{ form_end(formTricks) }}
            </div>
        </div>
        {# Categories Collapse #}
        <div class="collapse {{ (onglet)=='categories' ? 'show' : '' }} col-8 mx-auto" id="categories">

            <div class="card card-body ">
            <h2>Liste des Catégories</h2>
            <p> </p>
                <div class='container  row d-flex'>
                    {% for Categorie in Categories %}
                        <p class="m-2">- ** <span class="btn-danger">{{ Categorie.label }}</span> ** -</p>
                    {% endfor %}                    
                </div>
            <p> </p>
            <h2>Ajouter une catégorie</h2>
                <div class='container  col-8'>
                    {{ form_start(formCategorie, {attr: {novalidate: 'novalidate'}}) }}
                        {# <div class="my-custom-class-for-errors"> {{ form_errors(formCategorie) }} </div> #}
                        {{ form_row(formCategorie.label, {label: 'Libéllé :', attr: {'placeholder': 'Libéllé ...'} }) }}

                        <button type="submit" class="btn btn-success">Valider</button>
                    {{ form_end(formCategorie) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
